  postgres:
    image: ${image}
    environment:
      POSTGRES_DB: sonarqube
      POSTGRES_USER: sonarqube
      POSTGRES_PASSWORD: sonarqube
    volumes:
      - pgdata:/var/lib/postgresql
    networks: [data]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U sonarqube"]
      interval: 5s
      timeout: 5s
      retries: 10
