x-context-storage-env: &context-storage-env
  SONAR_AGENTIC_STORAGE_TYPE: ${storage_provider}
  SONAR_AGENTIC_STORAGE_FILESYSTEM_BASE_DIR: ${AGENTIC_STORAGE_MOUNT:-/agentic-storage}
  SONAR_AGENTIC_STORAGE_BUCKET: ${AGENTIC_STORAGE_BUCKET:-}
  SONAR_AGENTIC_STORAGE_REGION: ${AGENTIC_STORAGE_REGION:-}
  SONAR_AGENTIC_STORAGE_ENDPOINT: ${AGENTIC_STORAGE_ENDPOINT:-}
  SONAR_AGENTIC_STORAGE_ACCESS_KEY: ${AGENTIC_STORAGE_ACCESS_KEY:-}
  SONAR_AGENTIC_STORAGE_SECRET_KEY: ${AGENTIC_STORAGE_SECRET_KEY:-}
  SONAR_AGENTIC_STORAGE_PATH_STYLE_ACCESS: ${AGENTIC_STORAGE_PATH_STYLE_ACCESS:-true}
  SONAR_AGENTIC_STORAGE_PRESIGN_TTL_SECONDS: ${AGENTIC_STORAGE_PRESIGN_TTL_SECONDS:-21600}

x-job-storage-env: &job-storage-env
  SONAR_AGENTIC_ORCHESTRATOR_STORAGE_TYPE: ${storage_provider}
  SONAR_AGENTIC_ORCHESTRATOR_STORAGE_FILESYSTEM_BASE_DIR: ${AGENTIC_STORAGE_MOUNT:-/agentic-storage}
  SONAR_AGENTIC_ORCHESTRATOR_STORAGE_BUCKET: ${AGENTIC_STORAGE_BUCKET:-}
  SONAR_AGENTIC_ORCHESTRATOR_STORAGE_REGION: ${AGENTIC_STORAGE_REGION:-}
  SONAR_AGENTIC_ORCHESTRATOR_STORAGE_ENDPOINT: ${AGENTIC_STORAGE_ENDPOINT:-}
  SONAR_AGENTIC_ORCHESTRATOR_STORAGE_ACCESS_KEY: ${AGENTIC_STORAGE_ACCESS_KEY:-}
  SONAR_AGENTIC_ORCHESTRATOR_STORAGE_SECRET_KEY: ${AGENTIC_STORAGE_SECRET_KEY:-}
  SONAR_AGENTIC_ORCHESTRATOR_STORAGE_PATH_STYLE_ACCESS: ${AGENTIC_STORAGE_PATH_STYLE_ACCESS:-true}
  SONAR_AGENTIC_ORCHESTRATOR_STORAGE_PRESIGN_TTL_SECONDS: ${AGENTIC_STORAGE_PRESIGN_TTL_SECONDS:-21600}
