sudo: required

language: bash

services:
  - docker

env:
  - VERSION=5.6.7
  - VERSION=5.6.7 VARIANT=alpine
  - VERSION=6.7.4
  - VERSION=6.7.4 VARIANT=alpine
  - VERSION=7.2
  - VERSION=7.2 VARIANT=alpine

script:
  - v="${VERSION}${VARIANT:+-$VARIANT}"
  - cd "$v"
  - docker build -t "sonarqube-$v" .
  - docker images

notifications:
  email: false
