Maintainers: Carmine Vassallo <carmine.vassallo@sonarsource.com> (@carminevassallo)
GitRepo: https://github.com/SonarSource/docker-sonarqube.git
Architectures: amd64, arm64v8
Builder: buildkit

{{- "\n" -}}
{{- range . }}
Tags: {{ range $index, $tag := .Tags -}}{{ if $index }}, {{ end }}{{ $tag }}{{- end }}
Directory: {{ .ImageDirectory }}
GitCommit: {{ .GitCommit }}
GitFetch: {{ .Branch }}
{{- "\n" -}}
{{- end -}}
