Maintainers: Carmine Vassallo <carmine.vassallo@sonarsource.com> (@carminevassallo),
             Jeremy Cotineau <jeremy.cotineau@sonarsource.com> (@jCOTINEAU),
             Davi Koscianski Vidal <davi.koscianski-vidal@sonarsource.com> (@davividal)
GitRepo: https://github.com/SonarSource/docker-sonarqube.git
Architectures: amd64, arm64v8
Builder: buildkit

{{- "\n" -}}
{{- range . }}
Tags: {{ range $index, $tag := .Tags -}}{{ if $index }}, {{ end }}{{ $tag }}{{- end }}
Directory: {{ .ImageDirectory }}
GitCommit: {{ .GitCommit }}
GitFetch: {{ .Branch }}
{{- "\n" -}}
{{- end -}}
