name: Multi-arch test template

on:
  workflow_call:
    inputs:
      staging_image_name:
        required: true
        type: string
        description: "The staging image name to test"
      tag:
        required: true
        type: string
        description: "The tag to test"
      test_name:
        required: true
        type: string
        description: "The test type to run (docker or docker-compose)"
      architecture:
        required: true
        type: string
        description: "The architecture to test (amd64 or arm64)"
      runs_on:
        required: false
        type: string
        description: "The runner to use"
        default: "github-ubuntu-latest-s"

jobs:
  multi-arch-test:
    name: Test ${{ inputs.staging_image_name }}:${{ inputs.tag }} (${{ inputs.test_name }}, ${{ inputs.architecture }})
    runs-on: ${{ inputs.runs_on }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v6.0.2

      - id: secrets
        name: Retrieve secrets from Vault
        uses: SonarSource/vault-action-wrapper@545e7cfbb5528e7009a1edcc83e073898d292627 # v3.2.0
        with:
          secrets: |
            development/kv/data/docker/sonardockerrw username | docker_username;
            development/kv/data/docker/sonardockerrw access_token_rwd | docker_password;

      - name: Login to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: ${{ fromJSON(steps.secrets.outputs.vault).docker_username }}
          password: ${{ fromJSON(steps.secrets.outputs.vault).docker_password }}

      - name: Set up system for Elasticsearch
        run: |
          # Set the recommended memory for ES
          sudo sysctl -w vm.max_map_count=524288

      - name: Run Docker image tests
        env:
          STAGING_IMAGE_NAME: ${{ inputs.staging_image_name }}
          TAG: ${{ inputs.tag }}
          TEST_NAME: ${{ inputs.test_name }}
          ARCH: ${{ inputs.architecture }}
        run: |
          echo "Test the ${STAGING_IMAGE_NAME}:${TAG} image supporting linux/${ARCH}"
          ./run-tests.sh "${STAGING_IMAGE_NAME}:${TAG}" "${TEST_NAME}"
