on:
  # Trigger analysis when pushing in master or pull requests, and when creating
  # a pull request. 
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]
    
name: Main Workflow
permissions:
  id-token: write
  pull-requests: read
  contents: read
jobs:
  go-test:
    uses: ./.github/workflows/test-official-images-generator.yml
  next:
    runs-on: github-ubuntu-latest-s
    needs: go-test
    permissions:
      id-token: write
      pull-requests: read
      contents: read
    steps:
    - uses: actions/checkout@v4
      with:
        # Disabling shallow clone is recommended for improving relevancy of reporting
        fetch-depth: 0
    - id: secrets
      uses: SonarSource/vault-action-wrapper@v3
      with:
        secrets: |
          development/kv/data/next token | sq_next_token;
    - name: retrieve test coverage
      uses: actions/download-artifact@v4
      with:
        name: docker-official-images-coverage-${{ github.sha }}
        path: docker-official-images/
    - name: SonarQube Next Scan
      uses: sonarsource/sonarqube-scan-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault).sq_next_token }}
        SONAR_HOST_URL: https://next.sonarqube.com/sonarqube/